@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --text-primary: #f1f3f5;
  --text-secondary: #94a5b7;
  --background-primary: #161e27;
  --background-secondary: #1a222e;
  --background-tertiary: #1d2834;
  --border: #2f3f52;
  --brand: #39bc4d;
  --brand-hover: #4eba5f;
  --brand-disabled: #88ba90;
  --error: #e60b3e;
}

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  color: var(--text-primary);
  font-size: 15px;
}

body {
  margin: 0;
  background-color: var(--background-primary);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

main {
  flex-grow: 1;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 600px){
  main {
    border: 1px solid var(--border);
    border-top: 0;
    border-bottom: 0;
  }
}

.error-message {
  margin: 1rem 0;
  color: var(--error);
}

.error-block {
  margin: 1rem 0;
  background-color: var(--error);
  color: var(--text-primary);
  border-radius: 8px;
  padding: 1rem;
}